<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>
                This site was created by Sourav Chakraborty. It uses data from Tomtom and Weatherbit.
            </p>
            <img class="portrait" src="/img/GIT.jpg">
        </div>
        
        {{>footer}}
    </body>
</html>